.container {
  border: 1px solid #e0e0e0;
}

.title {
  font-size: 34px;
  font-weight: 400;
}

.titleForm {
  font-size: 24px;
  font-weight: 400;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(238, 245, 226) inset;
}

.inputContainer {
  position: relative;
}

.input {
  border: 1px solid #b2a2a23b;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 50%;
  height: 56px;
  padding-right: 40px;
}

.valid {
  border: 3px solid rgb(81, 200, 81);
  background-color: rgb(239, 244, 239);
  transition: 0.5s;
}

.error {
  border: 3px solid rgb(206, 99, 99);
  background-color: rgb(238, 178, 178);
  transition: 0.5s;
}

.buttonShowPassword {
  position: absolute;
  left: 35vw;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./password-show.png");
  background-size: cover;
  width: 24px;
  height: 1px;
}

.button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-color: #1e88e5;
  width: 485px;
  height: 42px;
  border-radius: 4px;
}
